<%- include('../partials/header.ejs') -%>

    <div class="row mt-4">
        <div class="col-lg-6">
            <h3>Tambah Uang Masuk</h3>

            <form action="/uangmasuk/simpan" method="post">
                <div class="mb-3">
                    <label for="sumber_dana" class="form-label">Sumber Dana</label>
                    <input type="text" class="form-control" name="sumber_dana" required>
                </div>
                <div class="mb-3">
                    <label for="nominal" class="form-label">Nominal</label>
                    <input type="number" class="form-control" name="nominal" required>
                </div>
                <div class="mb-3">
                    <label for="tanggal" class="form-label">Tanggal</label>
                    <input type="date" class="form-control" name="tanggal" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

    <%- include('../partials/footer.ejs') -%>